html, body {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 100%;
}

#grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100vh;
}

#content {
    display: flex;
    flex-direction: column;
    padding: 1px;
    height: 100%;
    overflow: hidden;
}

#container {
    flex: 1;
    padding: 1px;
    overflow-y: auto;
}

#nav {
    margin: 1px;
    padding: 1px;
    border-right: 1px lightslategrey solid;
    background-color: ghostwhite;
    overflow-y: auto;
}

#nav a {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: dimgray;
    text-decoration: none;
}

#nav li {
    border-bottom: 1px lightslategray dashed;
}

#toggle {
    margin: 2px;
}

a {
    color: dimgray;
    text-decoration: none;
}

h1 {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 22px;
    text-align: left;
    border-bottom: 4px lightgray ridge;
    background-color: ghostwhite;
}

h2 {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 18px;
    color: ghostwhite;
    text-align: left;
    border-bottom: 4px lightgray groove;
    background-color: rgb(50, 50, 50);
}

@media(max-width: 1000px) {
    #grid {
        display: block;
        height: 100vh;
    }
    
    #content {
        padding: 1px;
        height: calc(100vh-40px);
        overflow: hidden;
    }

    #container {
        flex: 1;
        overflow-y: auto;
    }
    
    #nav {
        margin: 1px;
        padding: 1px;
        border-right: none;
        border-bottom: 3px lightslategrey dashed;
    }
}
