:root {
    --primary-color: dimgray;
    --secondary-color: ghostwhite;
    --accent-color: lightslategray;
    --default-color: white;
}

::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'freesentation8';
    src: url('../font/Freesentation-8ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'freesentation6';
    src: url('../font/Freesentation-6SemiBold.ttf') format('truetype');
}

html, body {
    margin: 0px;
    overflow: hidden;
}

#grid {
    display: grid;
    grid-template-columns: 100px 1fr;
}

#content {
    display: flex;
    flex-direction: column;
}

#container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    background-color: var(--default-color);
    max-width: 1000px;
}

#nav {
    display: flex;
    flex-direction: column;
    border-right: 0.4rem var(--primary-color) dashed;
    background-color: var(--secondary-color);
    text-align: center;
}

#nav a {
    font-family:'freesentation8';
    font-size: 28px;
    color: var(--primary-color);
    text-decoration: none;
}

#nav ul {
    margin: 5px;
    padding: 5px;
}

#nav li {
    list-style: none;
    padding: 5px;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

h1 {
    margin: 0px;
    font-family: 'freesentation6';
    font-size: 20px;
    color: var(--primary-color);
    text-align: left;
    border-bottom: 0.8rem var(--primary-color) solid;
    border-left: 0.8rem var(--primary-color) solid;
    background-color: var(--secondary-color);
}

h2 {
    margin: 0px;
    font-family: 'freesentation8';
    font-size: 28px;
    color: var(--secondary-color);
    text-align: left;
    border-bottom: 0.8rem var(--primary-color) solid;
    border-left: 0.8rem var(--secondary-color) solid;
    background-color: var(--primary-color);
}

footer {
    display: block;
    position: sticky;
    bottom: 0px;
    font-family: 'freesentation6';
    background-color: var(--accent-color);
    color: var(--secondary-color);
    text-align: center;
    border-top: 0.4rem var(--primary-color) dashed;
    margin-top: auto;
}

/*@media(max-width: 600px) {
    #grid {
        display: block;
    }

    #nav {
        flex-direction: row;
        border-right: none;
        white-space: nowrap;
        border-bottom: 0.4rem var(--primary-color) dashed;
    }

    #nav li {
        display: inline-block;
        border-bottom: none;
        margin-right: 40px;
    }
}*/