:root {
    --primary-color: dimgray;
    --secondary-color: ghostwhite;
    --accent-color: lightslategray;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow: hidden;
}

#grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100vh;
    overflow: hidden;
}

#content {
    display: flex;
    flex-direction: column;
    padding: 1px;
    height: 100%;
    overflow: hidden;
}

#container {
    flex: 1;
    padding: 1px;
    overflow-y: auto;
    height: 100%;
}

#nav {
    margin: 1px;
    padding: 1px;
    border-right: 3px var(--primary-color) dashed;
    background-color: var(--secondary-color);
    overflow: hidden;
}

#nav a {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: var(--primary-color);
    text-decoration: none;
}

#nav li {
    border-bottom: 1px var(--accent-color) solid;
}

#toggle {
    margin: 2px;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

h1 {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 22px;
    text-align: left;
    border-bottom: 2px var(--primary-color) solid;
    background-color: var(--secondary-color);
}

h2 {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    font-size: 18px;
    color: var(--secondary-color);
    text-align: left;
    border-bottom: 2px var(--primary-color) solid;
    background-color: var(--primary-color);
}

@media(max-width: 1000px) {
    #grid {
        display: block;
        height: auto;
        overflow: visible;
    }

    #content {
        height: auto;
        overflow: visible;
    }
  
    #container {
        height: auto;
        overflow-y: auto;
    }

    #nav {
        margin: 1px;
        padding: 1px;
        border-right: none;
        border-bottom: 3px var(--primary-color) dashed;
        height: auto;
        overflow: visible;
    }
}